<!doctype html>
<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>
  <main>
    <div class="text-center">
    <button class="btn-secondary btn-block btn-lg w-50" type="button">Refresh</button>
  </div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Offer</th>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">URL</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Grosh-IMG</td>
          <td><%= title %></td>
          <td>Grosh-Price</td>
          <td>Grosh-URL</td>
        </tr>
      </tbody>
    </table>
  </main>
  <%- include('partials/footer') %>
  <%- include('partials/scripts') %>
</body>
</html>